.default-app {
  background-image: url('./../icons/bg_home_page.jpeg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar.navbar-expand-lg.default {
  height: 60px;
}

.nav-link.default {
  color: white;
}

.title-app {
  color: white;
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin: inherit;
  font-size: 16pt;
}

.info-navbar {
  color: white;
}

.user-navbar {
  margin-left: auto;
}

.logout-navbar {
  cursor: pointer;
  width: 50px;
}

.menu-div {
  width: 150px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background-color: rgba(17, 26, 57, 0.9);
}

.menu.button {
  background-image: url('./../icons/menu.png');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  border: 0px;
}

.menu {
  width: 50px;
  height: 40px;
}

.selected-menu {
  background-color: blue;
}

.loggin-div {
  background-color: rgba(19, 29, 64, 1);
  color: white;
  border: 1px solid #383858;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  height: 50%;
  margin-bottom: 2%;
}

.img-logo {
  width: 60%;
  margin-left: 20%;
}

.img-menu {
  margin-left: 30%;
  margin-top: -10%;
}

.margens {
  height: 3vh;
}

.initial-page {
  margin-top: 7%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.loggin-div-inside {
  margin-top: 5%;
}

.default-div {
  margin-top: 1%;
  margin-bottom: 1%;
  min-height: 81.5vh;
  font-size: 16pt;
}

.default-div.white {
  background-color: #b2b4b5;
}

.exercise-question.default {
  border: 2px solid #131d40;
  padding: 3%;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
}

.score {
  color: greenyellow;
  font-size: 80pt;
  float: left;
  margin-left: 80%;
  margin-top: -25%;
}

.calculation {
  font-size: 20pt;
}

.exercise.default {
  margin-top: 5%;
}

.exercise-button {
  max-width: 30%;
}

.exercise-button.enabled {
  cursor: pointer;
}

.exercise-button.disabled {
  opacity: 0.5;
}

.exercise-options {
  margin-top: 7%;
}

.exercise.image {
  height: 250px;
  width: 250px;
}

.checkbox-default {
  margin-left: 20px;

}

.position-relative.form-check.default {
  padding: 2%;
  opacity: 0.5;
  color: white;
  font-weight: bold;
}

.position-relative.form-check.default.hover {
  opacity: 1;
}

.default.radio {
  padding: 0.1%;
}

.label.radio {
  margin-left: 20px;
}

.position-relative.form-check.default.purple {
  background-color: purple;
}

.position-relative.form-check.default.blueviolet {
  background-color: blueviolet;
}

.position-relative.form-check.default.orchid {
  background-color: orchid;
}

a.navbar-brand.menu-title {
  color: white;
}

.nav-itens {
  background-color: #1322593b;
  color: white;
}

.ativo.nav-link{
  background-color: #2d354e;
  color: white
}

.footer.footer-dark {
  color: white;
  height: 60px;
}

.div-group.borderG {
  border-top: 1px solid black;
}

.div-group {
  margin-top: 5%;
}

.view.div {
  margin-left: 1%;
  width: 98%;
  background-color: #b2b4b5;
  min-height: 80vh;
}

.overfloww {
  overflow: auto;
}

.view.div.padd {
  padding: 2%
}

.view.div.margin {
  margin-top: 3%;
  margin-bottom: 3%;
}

.view.image {
  width: 20%;
}

.view.title {
  border-bottom: 4px solid #131d40;
  margin-bottom: 2%;
  color: white;
}

.input.image {
  height: 38px;
}

.input.required {
  color:red;
  font-weight: bold;
}

.card.image.hover {
  opacity: 1;
}

.card.image {
  opacity: 0.5;
  color: white;
  font-weight: bold;
}

.card.image.pink {
  background-color: rgb(250, 69, 99);
}

.card.image.blue {
  background-color: blue;
}

.card.image.purple {
  background-color: purple;
}

.button-default {
  font-size: 16pt;
  background-color: #383871;
  min-width: 70px;
}

.button-default.all {
  width: 100%;
  color: white;
  background-color: black;
}

.button-image.div {
  height: 55px;
  width: 55px;
}

.button-image.div.i1 {
  background: url('./../icons/excercises/button_1.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.button-image.div.i2 {
  background: url('./../icons/excercises/button_2.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.button-image.div.i3 {
  background: url('./../icons/excercises/button_3.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.button-image.div.i4 {
  background: url('./../icons/excercises/button_4.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.button-image.div.i5 {
  background: url('./../icons/excercises/button_5.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.button-image.div.incorrect-icon {
  background-color: red;
}

.button-image.div.color {
  background-color: blue;
}

.button-image.div.color.mPositive {
  background: linear-gradient(to bottom right, white 0%, white 50%, blue 50%, blue 100%);
}

.button-image.div.color.mPositive2 {
  background: linear-gradient(to bottom right, blue 0%, blue 50%, white 50%, white 100%);
}

.button-image.div.color.mNegative {
  background: linear-gradient(to bottom left, white 0%, white 50%, blue 50%, blue 100%);
}

.button-image.div.color.mNegative2 {
  background: linear-gradient(to bottom left, blue 0%, blue 50%, white 50%, white 100%);
}

.fake-link {
  border-bottom: 1px solid blue;
  cursor: pointer;
}

.report-settings {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 50px;
}

.report-pdf {
  padding: 2%;
  margin-top: 2%;
}