.App {
  background-color: #7fd0ff;  
  background-image: linear-gradient(to right, aqua , blue);
}

a.navbar-brand.menu-title {
  color: white;
}

.footer.footer-dark {
  background-color: black;
  padding: 2%;
}

.view.div {
  margin: 2%;
  width: 95%;
  padding: 2%; 
  background-color: white;
}

.view.image {
  width: 20%;
}

.input.image {
  height: 38px;
}

.input.required {
  color:red;
  font-weight: bold;
}

.card.image.hover {
  opacity: 0.5;
}

