.default-app {
  background-image: url('./../icons/lembrare-bg.jpeg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn.btn-secondary.dropdown-toggle.default {
  background-image: url('./../icons/menu.svg');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar.navbar-expand-lg.default {
  background-color: black;
}

.nav-link.default {
  color: white;
}

.default-div {
  margin-left: 1%;
  margin-right: 1%;
  background-color: white;
}

.form-group.default {
  padding: 5%;
}

.exercise-question.default {
  border: 1px solid purple;
  padding: 3%;
  text-align: center;
  font-weight: bold;
  margin-left: 5%;
  margin-right: 5%;
}

.position-relative.form-check.default {
  padding: 2%;
  opacity: 0.5;
  color: white;
  font-weight: bold;
}

.position-relative.form-check.default.hover {
  opacity: 1;
}

.default.radio {
  padding: 0.5%;
}

.position-relative.form-check.default.purple {
  background-color: purple;
}

.position-relative.form-check.default.blueviolet {
  background-color: blueviolet;
}

.position-relative.form-check.default.orchid {
  background-color: orchid;
}

a.navbar-brand.menu-title {
  color: white;
}

.footer.footer-dark {
  background-color: black;
  padding: 2%;
}

.view.div {
  margin: 2%;
  width: 95%;
  padding: 2%; 
  background-color: white;
}

.view.image {
  width: 20%;
}

.view.title {
  border-bottom: 2px solid purple;
  margin-bottom: 2%;
}

.input.image {
  height: 38px;
}

.input.required {
  color:red;
  font-weight: bold;
}

.card.image.hover {
  opacity: 1;
}

.card.image {
  opacity: 0.5;
  color: white;
  font-weight: bold;
}

.card.image.pink {
  background-color: rgb(250, 69, 99);
}

.card.image.blue {
  background-color: blue;
}

.card.image.purple {
  background-color: purple;
}

.button-image {
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
}

.button-image.div {
  height: 70px;
  width: 70px;
}

.button-image.div.i1 {
  background: url('./../icons/excercises/button_1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-image.div.i2 {
  background: url('./../icons/excercises/button_2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-image.div.i3 {
  background: url('./../icons/excercises/button_3.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-image.div.i4 {
  background: url('./../icons/excercises/button_4.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-image.div.i5 {
  background: url('./../icons/excercises/button_5.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-image.div.color {
  background-color: blue;
}